{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
            <form method="POST">
            <input type="submit" value="New Post" class="btn btn-success"/>
            <br>
            <br>
            {% csrf_token %}
            {% for post in user.posted.all %}
            
            <a class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="name" style="min-width: 120px; display: inline-block;"><p class="muted-text">Author:</p>{{ post.author.username }}</span>
                    </div>
                    <div class="col-xs-6">
                        <span class=""><p class="muted-text">Title:</p>{{ post.title }}</span>
                    </div>
                    <div class="col-xs-12">
                        <p class="muted-text">Content</p>
                        <p>{{ post.content | truncatewords:10}}</p> 
                    </div>
                </div>
                    <a href="{% url 'view_post' post.id %}">Read More</a>
                    <span class="badge">{{ post.views }}</span><span class="pull-right"></span>
            </a>
            {% endfor %}
            
            <hr> 
            </form>
    </div>
</div>
{% endblock content %}